name=System / zRam
name[ru]=Система / zRam
description=A Linux kernel module that creates a virtual swap device with on-the-fly data compression
description[ru]=Модуль ядра Linux, создающий виртуальное устройство подкачки страниц памяти (swap) со сжатием данных "на лету"

# Probably the software from the `hw-base` component may be required for the
# software from this component.
depends/hw-base
