name=Desktop environment / Interface to configure the CUPS printing system
name[ru]=Окружение рабочего стола / Интерфейс настройки системы печати CUPS

depends/hw-cups
depends/desktop-env
after/desktop-env
